* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #999;
  font-size: 18px;
  /* background:#bfbfbf; */
  background: #010704;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  /* font-weight: 700; */
  margin: 0 0 15px 0;
  /* font-size: 5em; */
}

h1 {
  font-size: 36px;
  letter-spacing: -2px;
  line-height: 100%;
}

h1.title {
  font-size: 46px;
  font-weight: 700;
  color: #6a6a6a;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0 0 15px 0;
}

.menuBtn {
  background: center center no-repeat transparent;
  background: #000;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}

.clear {
  clear: both;
}

.wrap {
  /*background:url(../images/bg.png) top left repeat-x;*/
  width: 100%;
  max-width: 1140px;
  min-width: 960px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.section {
  width: 100%;
  max-width: 1140px;
  min-width: 960px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
  /* position: absolute;
    right: 0; */
  min-height: 50px;
  padding: 30px 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 30px 0;
  /* border: 2px white solid; */
}

.innerNav {
  width: 960px;
  margin: 0 auto;
  /* position: relative; */
  position: absolute;
  right: 0;
  min-height: 50px;
  padding: 30px 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 30px 0;
  /* border: 2px white solid; */
}

.subMenu {
  position: absolute;
  top: 462px;
  height: 50px;
  z-index: 1000;
  width: 100%;
  max-width: 1140px;
  min-width: 960px;
  background: #aabd46;
}

.subMenu .innerNav {
  padding: 0;
  font-weight: 400;
}

.subNavBtn {
  display: block;
  height: 35px;
  width: 12%;
  float: right;
  margin: 0px 0px 0 0;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 15px 2% 0 2%;
  /* padding: 15px 0 0 auto; */
  text-align: center;
  color: #fff;
}

.end {
  margin: 0;
}

/* SECTIONS */
.sTop {
  min-height: 630px;
  background: #e5e5e5;
  color: #3d3d3d;
  /* background: #010704; */
}

.s1 {
  min-height: 500px;
  /* background: #2e2e2e; */
  background: #e5e5e5;
  color: #3f3f3f;
  /* text-align: center; */
}

.s1 ul {
  /* margin-left: 40px;  */
  padding-left: 2%;
  line-height: 1.5rem;
}

.s1 p {
  line-height: 1.5rem;
  margin: auto 1em;
}

.textPic {
  display: flex;
}

.textPic ul {
  margin-top: 3rem;
  margin-right: 3rem;
}

.s2 {
  min-height: 500px;
  background: #504f4f;
  background-image:
    linear-gradient(45deg, rgba(55, 55, 55, 0.83) 100%, rgba(245, 246, 252, 0.52)),
    url("../pics/Samu-Building-logo.jpg");
  background-size: cover;
  background-color: #3f3f3f;
  background-position: center;
  min-height: 100vh;
}

.sectionAbout {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
}
.sectionAbout p {
  line-height: 1.5rem;
  margin: auto 1em;
}

.sectionAbout h1 {
  line-height: 1.5rem;
  margin: 1.5rem 1rem;
}

.s2Details {
  /* color: #3f3f3f; */
  max-width: 100%;
  display: block;
  flex-direction: row;
  /* margin: auto 2em auto auto; */
  line-height: 1.5rem;
}


.s3 {
  min-height: 500px;
  background: #6e87a1;
  color: white;
  line-height: 1.5rem;
}

.s3 p {
  line-height: 1.5rem;
  margin: auto 1em;
}

.s3 h1 {
  line-height: 1.5rem;
  margin: 1.5rem 1rem;
}


.formSection{
  line-height: 1.5rem;
  margin: 1.5rem 1rem;

}


.email {
  color: #aabd46;
  margin-right: 2em;
}

.email:hover {
  color: #6d0a0d;
}

.email:visited {
  color: #fff;
}


.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

video {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.heroTitile {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 50%;
  text-align: left;
  vertical-align: middle;
}

.heroTitile h1 {
  font-size: 4rem;
  color: #a5a396;
}

.heroTitile p {
  font-size: 1rem;
  color: #a5a396;
  /* text-align: center; */
}

.sectionContact{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}

footer{
  text-align: center;
  color: #a5a396;
}
.footerFinal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}



/*Responsive Part */
@media (min-width: 1000px) and (max-width: 1149px) {


  .sTop {
    min-height: 630px;
    color: #3d3d3d;
    background: #010704;
  }


  video {
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .subMenu {
    position: absolute;
    top: 500px;
    height: 50px;
    z-index: 1000;
    width: 100%;
    max-width: 1140px;
    min-width: 960px;
    background: #aabd46;
  }

}

@media (min-width: 700px) and (max-width: 1023px) {


  .wrap {
    min-width: 700px;
  }

  .section {
    min-width: 700px;
  }

  .inner {
    width: 700px;
  }

  .innerNav {
    width: 700px;
  }


  .sTop {
    min-height: 630px;
    color: #3d3d3d;
    background: #010704;
  }


  video {
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .subMenu {
    position: absolute;
    top: 600px;
    height: 50px;
    z-index: 1000;
    width: 100%;
    max-width: 1140px;
    min-width: 700px;
    background: #aabd46;
  }

  .sectionContact{
    display: flex;
    flex-direction: column;
  }

  .mapSection{
    margin: auto;
  }
}

@media (min-width: 1150px)  {


  .wrap {
    min-width: 100vw;
  }

  .section {
    min-width: 100vw;
  }

  .inner {
    width: 100vw;
  }

  .innerNav {
    width: 100vw;
  }


  .sTop {
    min-height: 630px;
    color: #3d3d3d;
    background: #010704;
  }


  video {
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .subMenu {
    position: absolute;
    top: 550px;
    height: 50px;
    z-index: 1000;
    width: 100%;
    max-width: 1140px;
    min-width: 700px;
    /* background: #93A14E; */
    background: #77823F;

  }

  .mapSection{
    margin: auto auto auto 5rem;
  }

  .innerS1{
    /* text-align: center;
    align-items: center; */
    width: 50%;

  }
  .innerS1 ul {
    /* margin-left: 40px;  */
    padding-left: 2%;
    line-height: 1.5rem;

  }

  .innerS1 p {
    line-height: 1.5rem;
    margin: auto 1em;
    justify-content: space-around;
  }

  .innerS2 {
    width: 50%;
  }

  .innerS3 {
    width: 50%;
  }
  .heroTitile h1 {
    width: 120%;
    line-height: 1.2em;
  }


}
